#change-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .input-group{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 16px 0;

        .input-label{
            min-width: 240px;
        }

        .input-text{
            flex: 1;
            padding: 12px;
            border-radius: 4px;
            font-size: 2rem;
            font-weight: 500;
        }
    }

    .change-btn{
        margin-top: 16px;
        padding: 8px 16px;
        text-transform: uppercase;
    }
}