.wrapper {
    width: 10vw;
    margin: 0 auto;
    position: relative;

    .area,
    .type,
    .cells {
        display: block;
    }

    .area {
        margin-bottom: 8px;
    }

    .area-text,
    .type-text {
        display: block;
        text-align: center;
    }

    .area-text {
        font-size: 2rem;
        font-weight: 600;
        color: var(--white-color);
    }

    .type-text {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-color);
    }

    .cells {
        align-items: center;
        justify-content: center;
    }

    .cell-odd,
    .cell-even {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: var(--empty-color);
        color: var(--white-color);
        border-bottom: 1px solid var(--white-color);
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }

    }

    .cell-odd.my-parked,
    .cell-even.my-parked{
        background-color: var(--your-color);
        &:hover{
            background-color: #F0E68C;
        }
    }

    .cell-odd.is-parked,
    .cell-even.is-parked{
        background-color: var(--parked-color);
        cursor: default;
        pointer-events: none;
    }

    .cell-odd {
        border-right: 1px solid var(--white-color);
    }

    .parked {
        background-color: var(--parked-color);
    }
}

.type-text {
    background-color: var(--white-color);
}
