@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(var(--default-content-min-height) - 64px);

   .logo-wrapper{
    display: flex;

    img{
        margin: auto;
    }
   }


    .nav-item-list{
        display: flex;
        justify-content: space-between;
    }
}

