.price-table{
    display: flex;
    height: calc(var(--default-content-min-height) - 64px);

    table{
        margin: auto;
        width: var(--default-layout-max-width);
        height: 60vh;
        border-collapse: collapse;
    }

    th{
        padding: 12px;
    }

    th,tr,td{
        color: var(--white-color);
        border: 1px solid var(--white-color);
        text-align: center;
    }
}

