.wrapper {
    max-width: var(--default-layout-max-width);
    height: 100%;
    padding: 16px 0;
    margin: auto;

    .parking-area {
        display: flex;
        padding: 16px;
        height: 100%;
        border: 1px solid #fff;
        border-right: none;
        position: relative;
    }

    .car-area {
        display: flex;
        margin-left: 16px;
    }

    .bus-area,
    .truck-area {
        margin-left: 16px;
    }

    .plant-area {
        display: flex;
        height: 80%;
        margin: auto 32px;
        background-color: var(--parked-color);
        border-radius: 8px;

        .plant-text {
            margin: auto;
            color: var(--white-color);
            text-transform: uppercase;
            transform: rotate(90deg);
        }
    }

    .notes {
        display: flex;
        margin-top: -40px;
        margin-left: 56px;

        .note-item {
            margin: 0 8px;
        }
    }
}
