.wrapper {
    max-width: var(--default-layout-max-width);
    padding: 16px 0;
    width: 100%;

    .parking-diagram{
        border: 1px solid #fff;
        border-right: none;
    }

    .parking-area {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        height: auto;
        padding: 16px;
    }

    .car-area {
        display: flex;
        margin-left: 16px;
    }

    .bus-area,
    .truck-area {
        margin-left: 16px;
    }


    .notes {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-around; 

        .note-item {
            margin: 0 8px;
        }
    }
}
