.container{
    background-image: url('../../assets/images/parking.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--default-background-height);
}