.wrapper {
    display: flex;
    height: calc(var(--default-content-min-height) - 64px);
    position: relative;
}

.back-btn{
    position: absolute;
    top: 50px;
    left: 0;
    color: white;
    padding: 0 !important;
    margin: 0 !important;

    span:first-child{
        width: unset !important;
        margin-right: 8px;
    }

    span:nth-child(2) {
        margin-left: 0;
    }
}

.enroll-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    .form-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.parking-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;

    .parking-lot {
        height: 30vh;
        width: 100%;
        border: 1px solid var(--white-color);
        border-bottom: none;
    }

    .parking-id {
        margin-top: 16px;
        font-size: 3rem;
        font-weight: 600;
        color: var(--primary-color);
    }
}

.form-input {
    margin-top: -64px;
    .input-group {
        display: flex;
        align-items: center;
        margin: 12px 0;

        .input-label {
            margin-right: 16px;
            font-size: 2rem;
            font-weight: 500;
            color: var(--white-color);
            width: 264px;
        }

        .input-text {
            padding: 8px;
            flex: 1;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--text-color);
            border-radius: 4px;
            border: 2px solid var(--primary-border-color);
        }

        .input-notext {
            font-size: 2rem;
            font-weight: 400;
            color: var(--primary-color);
        }
    }
}

.regis-btn,
.checkout-btn {
    font-size: 2rem !important;
    font-weight: 500 !important;
}
